
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


<div style="max-width:500px;margin:auto;">
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">First Name</label>
          <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Second Name</label>
          <input type="name" class="form-control" id="">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Email</label>
            <input type="text" class="form-control" id="">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
        <div class="form-group form-check"></div>
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <div class="form-group">
        <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
    </form>
</div>
      <br>
      <p>Already have an account? </p><button type="submit" class="btn btn-primary"><a href ="/signin" >sign in</a></button>
  
  